*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width:100%;
}

.bloc-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tabs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex: 1;
  cursor: pointer;
}
button {
  border: none;
  width: 3rem;
  background-color: white;
  
}
.content-tabs {
  display:flex;
  flex-wrap: wrap;
}
.content {
  background: white;
  padding: 20px;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
.after-active{
  display:flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}
.after-display{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  box-sizing: border-box;
  border:1px solid whitesmoke;
  border-radius: 1rem;
  margin: 2rem 4rem 6rem 2rem;
  height:18rem;
  width:21rem;
}
.buy{
  border-radius: 5px;
  width:17rem;
  height:2.5rem;
  background-color: white; 
  border:none;
  margin-top:2.5rem;
  border:1px solid rgb(67, 120, 218);
  color: rgb(67, 120, 218);
}
.after-display h2{
margin-top: 3rem;
}
.after-display h3{
  margin-top: 2.5rem;
}
.toggle-container{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items: center;
}
.toggle{
  display: flex;
  width:50rem;
}
.content{
  display:flex;
  justify-content: space-between;
  width:50rem;
  cursor: pointer;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);

}
.title{
  overflow: hidden;
  display:none;
}
.title.show{
  display:block;  
  border-top: 1px solid rgb(209, 209, 209);
  width:99.8%;
}

span{
  font-size: 16px;
  font-weight: bold;
}
.toggle p{
  color: gray;
  font-size: 14px;
  padding:10px;
}


.contents{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:50rem;
  height:50px;
  padding:5px;
  cursor: pointer;
}
.container-nested{
  display:flex;
  justify-content:center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.opened{
  display:flex;
  width:50rem;
  cursor: pointer;
  border: 1px solid rgb(209, 209, 209);

  height:4rem;
}
.titles{
  overflow: hidden;
  display:none;
}
.titles.show{
  display: block;
}
.titles p{
  color: black;
  font-size: 16px;
  margin-left: 10px;
  width:50rem;
}
.items{
  border-bottom:1px solid rgb(209, 209, 209);
  border-right:1px solid rgb(209, 209, 209);
  border-left:1px solid rgb(209, 209, 209);
}
.items h4{
  font-weight: bold;
}
.about{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:51rem;
  height:50px;
  cursor: pointer;
  border: 1px solid rgb(209, 209, 209);
}
.btn-toggle{
  display:flex;
  align-items: center;
  flex-direction: row;
  margin-left: 34.15rem;
  margin-top: 100px;;
  width:50.75rem;
  height:70px;
  padding:5px;
  cursor: pointer;
  border: 1px solid rgb(209, 209, 209);
}
.inside-button{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  text-align: left;
}
.App img{
  margin-left: 20px;
  width:30px;
  height:30px;
}
.arrow{
  margin-left: 35rem;
}